## 6089 : [기초-종합] 수 나열하기2(py)

In [3]:
a, r, n = map(int, input().split())

if n == 1:
    print(a)
else:
    print(a*r**(n-1))

2 3 7
1458